body {
  max-height: 100vh;
}

.container-list {
  display: flex;
  flex-wrap: wrap;
  height: 85vh;
  margin-top: 100px;
}

.link {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  width: 100%;
  color: #fff !important;
}

.column1,
.column2 {
  flex: 1;
  height: 50vh;
  margin-bottom: auto;
  margin-left: 50px;
  margin-right: 50px;
  padding: auto;
  max-width: 650px;
}

.column1 {
  margin-top: 5% !important;
}

.column2,
.column1 {
  display: inline-table;
}

.column3 {
  flex-basis: 100%;
}

.funct {
  display: flex !important;
}

.numberoflinksmain {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  margin-left: 30px;
  letter-spacing: 1px;
  color: #ffffff;
}

.funct-1 {
  width: 50%;
}

.funct-2 {
  width: 40%;
}

.numberoflinks {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  letter-spacing: -1.5px;
  background: linear-gradient(87.96deg, #9f25ff 6.22%, #2548ff 104.21%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.expiration {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  align-items: center;
  letter-spacing: 1px;
  color: #ffffff;
  margin-right: 15px;
}

#expiration-time {
  width: 100px;
  background: #000000;
  border: 1px solid #ffffff;
  border-radius: 4px;
  color: #ffffff;
  margin-right: 30px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.functioning {
  margin-top: 30px;
  margin-bottom: 40px;
}

#view-once {
  width: 15px;
  height: 15px;
  background: #000000;
  border: 1px solid #ffffff;
  border-radius: 4px;
}

.quill {
  margin-right: 20px;
  width: 50vw;
}
@media screen and (min-width: 768px) {
.column3 {
  position: absolute;
  bottom: 50px;
}
}
@media screen and (max-width: 768px) {
  .quill {
    width: 88vw;
  }
}

.generate-button {
  margin-top: 20px;
  margin-bottom: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 20px;
  padding-right: 20px;
  background: #000000;
  border: 1px solid #ffffff;
  border-radius: 4px;
  color: #ffffff;
  font-family: "Poppins";
  font-style: normal;
  font-size: 12px;
  font-weight: 600;
  align-items: center;
  cursor: pointer;
  letter-spacing: 2px;

  transition: transform 0.5s;
}

@media (min-width: 1100px) {
  .generate-button:hover {
    transform: scale(1.05);
    transition: transform 0.2s;
  }
}

.generate-button:hover {
  background-color: #fff;
  color: #000000;
}

@media screen and (max-width: 768px) {
  .column1,
  .column2,
  .column3 {
    flex-basis: 100%;
  }

  .column1 {
    height: auto;
    margin-bottom: 30px;
  }

  .column3 {
    margin-left: 0px !important;
    height: 100px;
    text-align: center;
  }

  .numberoflinksmain {
    margin-left: 0px !important;
  }

  .funct-1,
  .funct-2 {
    width: 50%;
  }
}

.list-work {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  align-items: center;
  margin: 0;
  letter-spacing: 1px;
  color: #fff;
}

.how-it {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  align-items: center;
  letter-spacing: 1px;
  margin: 0;
  color: #fff;
}

@media screen and (max-width: 1100px) {
  .list-work {
    font-size: 16px;
  }

  .how-it {
    font-size: 20px;
  }

  #logo {
    margin-left: 30px;
    margin-right: auto;
    font-size: 28px;
  }

  .column1,
  .column2 {
    margin-left: 30px;
    margin-right: 30px;
    padding: auto;
  }

  .column1 {
    margin-top: 10%;
  }

  .column2 {
    margin-top: 3%;
  }

  .column3 {
    flex-basis: 100%;
    height: 50px;
    bottom: 0;
    padding-top: 50px;
  }

  .numberoflinks {
    font-size: 32px;
  }

  .numberoflinksmain {
    font-size: 16px;
    margin-left: 30px !important;
  }
}

@media screen and (max-width: 450px) {
  .list-work {
    font-size: 12px;
  }

  .how-it {
    font-size: 16px;
  }

  #logo {
    margin-left: 20px;
    margin-right: auto;
    font-size: 24px;
  }

  .column1,
  .column2 {
    margin-top: 10%;
    margin-bottom: auto;
    margin-left: 20px;
    margin-right: 20px;
    padding: auto;
  }

  .numberoflinks {
    font-size: 28px;
  }

  .column3 {
    height: 50px;
  }

  .numberoflinksmain {
    font-size: 14px;
    margin-left: 20px !important;
  }
}

.ql-editor {
  height: 400px !important;
  color: #ffffff !important;
  background: rgba(204, 204, 204, 0.05);
  overflow-x: auto;
}

.ql-container {
  border-radius: 0px 0px 8px 8px;
}

.ql-toolbar {
  border-radius: 8px 8px 0px 0px;
}

@media screen and (max-width: 576px) {
  .ql-editor p {
    font-size: 12px !important;
  }

  .ql-editor h1 {
    font-size: 20px !important;
  }

  .ql-editor h2 {
    font-size: 18px !important;
  }

  .ql-editor h3 {
    font-size: 16px !important;
  }
}

@media screen and (max-width: 992px) {
  .ql-editor p {
    font-size: 14px !important;
  }

  .ql-editor h1 {
    font-size: 28px !important;
  }

  .ql-editor h2 {
    font-size: 24px !important;
  }

  .ql-editor h3 {
    font-size: 20px !important;
  }
}

@media screen and (max-width: 1200px) {
  .ql-editor p {
    font-size: 16px !important;
  }

  .ql-editor h1 {
    font-size: 36px !important;
  }

  .ql-editor h2 {
    font-size: 32px !important;
  }

  .ql-editor h3 {
    font-size: 28px !important;
  }
}

@media screen and (min-width: 1200px) {
  .ql-editor p {
    font-size: 18px !important;
  }

  .ql-editor h1 {
    font-size: 48px !important;
  }

  .ql-editor h2 {
    font-size: 40px !important;
  }

  .ql-editor h3 {
    font-size: 36px !important;
  }
}

/* width */
.ql-editor::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background: #000000;
}

/* Track */
.ql-editor::-webkit-scrollbar-track {
  background: #000000;
}

/* Handle */
.ql-editor::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 50px;
}

.ql-picker-label {
  color: #fff;
}

.ql-snow .ql-stroke {
  stroke: #fff !important;
}

.ql-fill {
  fill: #fff !important;
}

.link-container {
  display: flex;
  align-items: center;
  border-radius: 4px;
  justify-content: center;
  width: 96.5%;
  border: solid 1px transparent;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(87.96deg, #9f25ff 6.22%, #2548ff 104.21%);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.link-child {
  display: inline-flex;
  word-wrap: break-word;
  align-items: center;
  background: black;
  margin: 1.5px;
  width: 100%;
  border-radius: 4px;
}

.copy-icon {
  height: 20px;
  cursor: pointer;
}

.copy-icon:hover,
.copy-icon:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
}

.share-icon {
  margin-top: 2px;
  height: 17px;
  cursor: pointer;
}

.share-icon:hover {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.1em);
}

.copy-button-div {
  margin-right: 10px;
}

.util-button-container {
  display: inline-flex;
  margin-left: auto;
}

.MuiAlert-message {
  font-size: 12px;
  font-family: "Poppins";
  font-weight: 500;
}
.MuiSvgIcon-root {
  margin-top: 1px !important;
  height: 16px !important;
  width: 16px !important;
}

.viewonceinfo {
  text-decoration: underline;
}
.generate-button-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.ql-link{
  display: none !important;
}

@media screen and (max-height: 700px ) and (min-width: 900px) {
  .column2{
    margin-top: -2%;
    z-index: 1000;
  }
  .functioning{
    margin-top: 10px;
  }
  .generate-button-container {
    margin-top: 0px !important;
}
}

