body {
  max-height: 100vh;
}

.container-list {
  display: flex;
  flex-wrap: wrap;
  height: 85vh;
  margin-top: 100px;
}

.column1,
.column2 {
  flex: 1;
  height: 50vh;
  margin-top: 10%;
  margin-bottom: auto;
  margin-left: 50px;
  margin-right: 50px;
  padding: auto;
  max-width: 650px;
}

.column3 {
  flex-basis: 100%;
}

.numberoflinksmain {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  margin-left: 50px;
  letter-spacing: 1px;
  color: #ffffff;
}
.numberoflinks {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 44px;
  letter-spacing: -0.065em;
  background: linear-gradient(87.96deg, #9f25ff 6.22%, #2548ff 104.21%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

@media screen and (max-width: 768px) {
  .column1,
  .column2,
  .column3 {
    flex-basis: 100%;
  }
  .column3 {
    margin-left: 0px !important;
    height: 100px;
  }
  .numberoflinksmain {
    margin-left: 0px !important;
    text-align: center;
  }
}

ol {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  align-items: center;
  margin: 0;
  letter-spacing: 1px;
  color: #cccccc;
}

h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  align-items: center;
  letter-spacing: 1px;
  margin: 0;
  color: #cccccc;
}

@media screen and (max-width: 1100px) {
  ol {
    font-size: 16px;
  }
  h1 {
    font-size: 20px;
  }
  #logo {
    margin-left: auto;
    margin-right: auto;
    font-size: 28px;
  }
  .column1,
  .column2 {
    margin-top: 10%;
    margin-bottom: auto;
    margin-left: 30px;
    margin-right: 30px;
    padding: auto;
  }

  .column3 {
    padding: 30px;
    flex-basis: 100%;
    height: 50px;
  }
  .numberoflinks {
    font-size: 38px;
  }

  .numberoflinksmain {
    font-size: 20px;
  }
}

@media screen and (max-width: 450px) {
  ol {
    font-size: 12px;
  }
  h1 {
    font-size: 16px;
  }
  #logo {
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
  }
  .column1,
  .column2 {
    margin-top: 10%;
    margin-bottom: auto;
    margin-left: 20px;
    margin-right: 20px;
    padding: auto;
  }
  .numberoflinks {
    font-size: 32px;
  }

  .column3 {
    padding: 20px;
    height: 50px;
  }

  .numberoflinksmain {
    font-size: 16px;
  }
}
