body {
  max-height: 100vh;
}

.container-ret {
  display: flex;
  flex-wrap: wrap;
  height: 85vh;
  margin-top: 100px;
}
.share-link {
  max-width: 300px;
}


.try-it {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  align-items: center;
  letter-spacing: 1px;
  background: linear-gradient(87.96deg, #9f25ff 6.22%, #2548ff 104.21%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  border-bottom: 2px solid transparent;
  -webkit-border-image: linear-gradient(
      87.96deg,
      #9f25ff 6.22%,
      #2548ff 104.21%
    )
    1;
  border-image: linear-gradient(87.96deg, #9f25ff 6.22%, #2548ff 104.21%) 1;
}
.col1 {
  flex-basis: 50%;
}
.col2 {
  flex-basis: 30%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 1px;
  color: #cccccc;
}
.col1,
.col2 {
  height: 50vh;
  margin-bottom: auto;
  margin-left: 50px;
  margin-right: 50px;
  padding: auto;
}

.col2 {
  margin-top: 10%;
}

.linkexp{
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 1px;
  color: #cccccc;
}

.col1 {
  margin-top: 2%;
}

.col3 {
  flex-basis: 100%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  letter-spacing: 1px;
  color: #cccccc;
}

.text-view {
  background: rgba(204, 204, 204, 0.05);
  width: 50vw;
  height: 500px;
  overflow-y: auto;
  overflow-x: auto;
  border-radius: 8px;
  border: 1px solid white;
}

@media screen and (max-width: 1100px) {
  .text-view {
    width: 92vw;
    height: 400px;
    overflow-y: auto;
    overflow-x: auto;
  }

  .linkexp{
    font-size: 20px;
  }
}

@media screen and (max-width: 800px) {
  .text-view{
    width: 90vw;
  }  
}

.timeleft {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 1px;
  color: #cccccc;
  margin-right: 50px;
}


@media screen and (max-width: 1100px) {
  .col1,
  .col2,
  .col3 {
    flex-basis: 100%;
  }
  .col1,
  .col2 {
    margin-top: 10%;
    margin-bottom: auto;
    margin-left: 30px;
    margin-right: 30px;
    padding: auto;
  }

  .col2{
    height: auto;
    margin-bottom: 50px;
    text-align: center;
  }

  .col3 {
    padding: 30px;
    flex-basis: 100%;
    height: 50px;
    margin-left: 0px !important;
    height: 100px;
    font-size: 16px;
  }

  .try-it{
    font-size: 16px;
  }


  .col2,
  .timeleft {
    font-size: 16px;
  }
  .timeleft {
    margin-right: 30px;
  }
}

@media screen and (max-width: 450px) {
  .col1,
  .col2 {
    margin-top: 10%;
    margin-bottom: auto;
    margin-left: 20px;
    margin-right: 20px;
    padding: auto;
  }

  .col3 {
    padding: 20px;
    height: 50px;
    font-size: 12px;
  }

.try-it{
  font-size: 12px;
}
  .col2,
  .timeleft {
    font-size: 12px;
  }
  .timeleft {
    margin-right: 20px;
  }
  
  .linkexp{
    font-size: 16px;
  }
}

/* width */
.text-view::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background: #000000;
}

/* Track */
.text-view::-webkit-scrollbar-track {
  background: #000000;
}

/* Handle */
.text-view::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 50px;
}
